{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg">
        <div class="container">
            <h2 class="title-page">Carrito</h2>
        </div>
        <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">
            <div class="row">
                <aside class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Dirección de facturación</h4>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="first_name">Nombres</label>
                                        <input type="text" name="first_name" id="first_name" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="last_name">Apellidos</label>
                                        <input type="text" name="last_name" id="last_name" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="email">Correo electrónico</label>
                                        <input type="email" name="email" id="email" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="phone">Número de teléfono</label>
                                        <input type="text" name="phone" id="phone" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="address_line_1">Dirección línea 1</label>
                                        <input type="text" name="address_line_1" id="address_line_1" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="address_line_2">Dirección línea 2</label>
                                        <input type="text" name="address_line_2" id="address_line_2" class="form-control">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <label for="city">Ciudad</label>
                                        <input type="text" name="city" id="city" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="state">Estado/Región</label>
                                        <input type="text" name="state" id="state" class="form-control" required>
                                    </div>
                                    <div class="col form-group">
                                        <label for="country">País</label>
                                        <input type="text" name="country" id="country" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label for="order_note">Nota adicional</label>
                                    <textarea name="order_note" id="order_note" rows="2" class="form-control"></textarea>
                                </div>
                            </div> <!-- card.// -->
                        </div>
                        <!-- card .// -->
                        <div class="alert alert-success mt-3">
                            <p class="icontext">
                                <i class="icon text-success fa fa-truck"></i> Envío gratuito en 1-2 semanas
                            </p>
                        </div>
                    </aside>
                    <!-- col.// -->
                    <aside class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-borderless table-shopping-cart">
                                    <thead class="text-muted">
                                        <tr class="small text-uppercase">
                                            <th scope="col">Producto</th>
                                            <th scope="col" width="120">Cantidad</th>
                                            <th scope="col" width="120">Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item in cart_items %}
                                        <tr>
                                            <td>
                                                <figure class="itemside align-items-center">
                                                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                                                    <figcaption class="info">
                                                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
                                                        <p class="text-muted small">
                                                            {% if cart_item.variations.all %}
                                                                {% for item in cart_item.variations.all %}
                                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </p>
                                                    </figcaption>
                                                </figure>
                                            </td>
                                            <td>
                                                <!-- col.// -->
                                                <label for="">{{cart_item.quantity}}</label>
                                            </td>
                                            <td>
                                                <div class="price-wrap">
                                                    <var class="price">$ {{ cart_item.sub_total }}</var>
                                                    {% if cart_item.quantity > 1 %}
                                                    <small class="text-muted"> $ {{ cart_item.product.price }} c/u</small>
                                                    {% endif %}
                                                </div> <!-- price-wrap .// -->
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type="submit" name="submit" class="btn btn-primary btn-block">Ordenar</button>
                                <a href="{% url 'store' %}" class="btn btn-light btn-block">Continuar comprando</a>
                            </form>
                        </div>
                        <!-- card-body.// -->
                    </div>
                </aside>
                <!-- col.// -->
            </div>
        </div>
        <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    <!-- ========================= SECTION  ========================= -->
    <section class="section-name bg padding-y">
        <div class="container">
            <h6>Política de pago y reembolso</h6>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                est laborum.
            </p>
        </div>
        <!-- container // -->
    </section>
    <!-- ========================= SECTION  END// ========================= -->
{% endblock content %}