{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">
        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 480px; margin-top:100px;">
            <div class="card-body">
                {% include 'includes/alerts.html' %}
                <h4 class="card-title mb-4">Recuperar contraseña</h4>
                <form action="{% url 'forgotPassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Correo electrónico" name="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div> <!-- form-group// -->    
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">¿Tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}