{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-conten padding-y" style="min-height:84vh">
        {% if request.GET.command %}
        <div class="container mx-auto alert alert-info" role="alert" style="max-width: 680px; margin-top: 100px;">
            Gracias por registrarte con nosotros. Te hemos enviado un enlace para activar tu cuenta al correo electrónico: [{{ request.GET.email }}].
            <br><br>
            Si ya activaste tu cuenta, por favor inicia sesión <a href="{% url 'login' %}">aquí</a>
        </div>
        {% else %}
        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
            <div class="card-body">
                {% include 'includes/alerts.html' %}
                <h4 class="card-title mb-4">Iniciar sesión</h4>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Correo electrónico" name="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password">
                    </div> <!-- form-group// -->
                    
                    <div class="form-group">
                        <a href="{% url 'forgotPassword' %}" class="float-right">¿Se te olvidó tu contraseña?</a> 
                    
                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div> <!-- form-group// -->    
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">¿No tienes cuenta? <a href="{% url 'register' %}">Registrarse</a></p>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
        {% endif %}
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}